body {
    min-block-size: 100svh;
    background:
        linear-gradient(#A4AAB1 0px 2px, #0000 2px 12px) 0 0 / 1px 15px,
        linear-gradient(90deg, #A4AAB1 0px 2px, white 2px 12px) 0 0 / 15px 15px;
}

#canvas_outline {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: relative;

}

#toolbox {
    position: fixed;
    left: 10vw;
    bottom: 10px;
    width: 80vw;
    height: 50px;
    background-color: white;
    border: 2px solid grey;
}

#borderbox {
    position: fixed left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    color: blue;
    border: 2px solid grey;
    width: 98vw;
    height: 87vh;
}
