body {
    min-block-size: 100svh;
    background-color: grey;
}


#canvas_outline {
    width: 100vw;
    height: 100vh;
    border: 9px solid darkgreen;
    width: 92%;
    height: 87vh;
    position: relative;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
}



#toolbox {
    position: fixed;
    left: 10%;
    bottom: 10px;
    width: 80%;
    height: 3rem;
    background-color: white;
    border: 4px solid darkgreen;

}


#state {
    width: 10vw;
    top: 96.7%;
    margin-left:1px;
    position:relative;
    z-index: 4;
    background-color: darkseagreen;
}
#point_can {
    position: absolute;
position:absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    background:
        linear-gradient(#A4AAB1 0px 2px, #0000 2px 12px) 0 0 / 1px 15px,
        linear-gradient(90deg, #A4AAB1 0px 2px, white 2px 12px) 0 0 / 15px 15px;
     z-index: 1;
}


#maindraw_can {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 2; background: transparent;
 }
